a {
	text-decoration: none;
}

.project h1 a{
	color:black;
}

.project h1 a:hover{
	text-decoration: underline;
}

.sidebar{
	top:0;
	left:0;
	position:fixed;

	background-color: #FF8900;
	box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 0.53);
}

.sidebar-intro{
	margin:10% 2em 50% 2em;
	color:white;
	text-align: center;
}

.sidebar-intro h1{
	margin:0px;
}

.sidebar img{
	display:block;
	margin:auto;
	width:70%;
	height:auto;
}

.sidebar-intro-msg{
	text-align: left;
	align:justify;
}

.projects{
	margin-left: 34%;
	padding:2em;
}

.project{
	padding-bottom:2em;
}

#sidebar-intro-gitlink, .gitlink{
	width:20px;
	height:auto;
	display: inline-block;
}